body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*Style crystal ball to show prediction in the middle on hover*/
/*Source1: http://jsfiddle.net/HAcE2/ */
/*Source2: http://jsfiddle.net/c32jud6j/ */
img {
    width: 300px;
}

.wrapper {
    position: relative;
}

#reply {
    position: absolute; 
    top:120px;
    width:300px;
    text-align:center;
    display: none;
}

.wrapper:hover #reply {
    display: block;
}



